
html, body {
	height: 100%;
}

body {
	margin-bottom: 100px;
}

footer {
	padding-top: 100px;
}

h2 {
	color: #999;
	border-bottom: solid 1px black;
}

/*#logikface {
	
}*/

.navbar-default {
	background-color: #fff;
	border-color: #999;
}

.navbar-default .navbar-toggle {
     border: none; 
}

.navbar-brand {
	height: 70px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #fff;
}

#welcome, #about, #portfolio, #resume {
	min-height: 100%;
	padding-top: 70px;
}

#pagetitle {
	overflow: hidden;
	position: relative;
}

#pagetitlefirst, .hover-img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.aboutItem {
	visibility: hidden;
}

.itemBox {
	border: solid 1px black;
	min-height: 250px;
	margin-bottom: 20px;
}

.feature {
	min-height: 520px;
}

.school {
	font-weight: bold;
}

.program {
	font-style: italic;
}

span.glyphicon-envelope {
	font-size: 42px;
}

a.mail {
	color: #666;
}

a.mail:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.navlink {
	font-size: 33px;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 25px;
		padding-bottom: 5px; 
	}
}
