
html, body {
	height: 100%;
}

body {
	margin-bottom: 100px;
}

footer {
	padding-top: 100px;
}

h2 {
	color: #999;
	/*border-bottom: solid 1px black;*/
}

/*#logikface {
	
}*/

#welcome, #about, #samples, #skills {
	min-height: 100%;
	padding-top: 70px;
}

#pagetitle {
	overflow: hidden;
	position: relative;
}

#pagetitlefirst, .hover-img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.aboutItem {
	visibility: hidden;
	margin: 20px 0 10px;
}

.aboutXs {
	font-size: 18px;
	font-weight: 300;
}

.aboutSm {
	font-size: 20px;
	font-weight: 400;
}

.aboutMd {
	font-size: 22px;
	font-weight: 500;
}

.aboutLg {
	font-size: 24px;
	font-weight: 600;
}

.fontDark {
	color: #000;
}

.fontMed {
	color: #666;
}

.fontLight {
	color: #999;
}

.sampleRow {
	margin-bottom: 100px;
}

.sample {
	visibility: visible;
	display: none;
}

.sampleSubHead {
	color: #777;
	font-size: 15.6px;
	font-weight: normal;
	line-height: 15.6px;
}

#skills {
	visibility: hidden;
}

.footerIcon {
	color: #666;
	margin: 0 10px;
}

.footerIcon:hover {
	filter: alpha(opacity=50);
	opacity: 0.5;
}
